@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
	font-family: Inter, sans-serif;

	/* fix for Chrome */
	font-feature-settings:
		"liga" 1,
		"calt" 1;
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: InterVariable, sans-serif;
	}
}

@theme {
	--color-accent: #ef5350;
	--font-heading: "Space Grotesk", "sans-serif";
	--spacing-content: 85ch;
}

@layer base {
	a {
		@apply underline decoration-accent decoration-2;

		background-image: linear-gradient(var(--color-accent), var(--color-accent));
		background-size: 100% 0;
		background-repeat: no-repeat;
		background-position: bottom;
		transition: background-size 100ms ease-in-out;
	}

	a:hover {
		background-size: 100% 100%;
	}
}

@layer components {
	.page-title {
		@apply underline-offset-8 decoration-6 text-3xl font-bold font-heading;
	}

	.social-link {
		@apply bg-none hover:bg-none transition-colors;
	}

	.prose p code,
	.prose h1 code,
	.prose h2 code,
	.prose h3 code,
	.prose h4 code,
	.prose h5 code,
	.prose h6 code {
		@apply px-2 bg-neutral-200 dark:bg-neutral-800 py-0.5 text-red-700 dark:text-red-300 rounded-lg;
	}
}

.prose {
	@apply pb-12;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
	@apply pb-6 pt-8;
}

.prose h1 {
	@apply text-3xl font-bold;
}

.prose h2 {
	@apply text-2xl font-semibold;
}

.prose h3 {
	@apply text-xl font-semibold;
}

.prose h4 {
	@apply text-lg font-semibold;
}

.prose p {
	@apply pb-4;
}

.prose ul {
	@apply pl-4 list-disc pb-6;
}

.prose li {
	@apply pb-2;
}

.prose pre {
	@apply mb-8 overflow-x-auto px-6 py-4 rounded-lg;
}

.prose a code {
	@apply bg-transparent px-0;
}

.prose a:hover code {
	@apply text-white;
}
